//import all variables
@import "./basic_components/variables.scss";

// import all media queries
@import "./basic_components/responsive.scss";

// basic stuff
@import "./basic_components/flex.scss";
@import "./basic_components/container.scss";

// Components below
@mixin disable {
  .disable {
    pointer-events: none;
    background-color: $disableElementColor;
    color: $disableTextColor;
    border: 2px solid $disableElementBorderColor;
  }
}

@include disable();

@mixin shadowContainer($margin_top) {
  border-radius: 4px;
  box-shadow: 0 0 3px $containerBorderColor;
  padding: 5px;
  margin-top: $margin_top;
}

@import "./basic_components/button.scss";
@import "./basic_components/input.scss";
@import "./basic_components/image.scss";
