//import all variables
@import "./basic_components/variables.scss";

// import all media queries
@import "./basic_components/responsive.scss";

// basic stuff
@import "./basic_components/flex.scss";
@import "./basic_components/container.scss";

// Components below
@mixin disable {
  .disable {
    pointer-events: none;
    background-color: $disableElementColor;
    color: $disableTextColor;
    border: 2px solid $disableElementBorderColor;
  }
}

@include disable();

@mixin shadowContainer($margin_top) {
  border-radius: 4px;
  box-shadow: 0 0 3px $containerBorderColor;
  // padding: 5px;
  margin-top: $margin_top;
}

@mixin border($borderRadius) {
  border: 1px solid rgb(149, 149, 149);
  border-radius: $borderRadius;
}

.left_arrow_container,
.right_arrow_container {
  @include border(6px);
  cursor: pointer;
  padding: 15px 0px;
  opacity: 90%;

  &:active {
    border: none;
  }
}

.left_arrow_container {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.right_arrow_container {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

// basic component scss
@import "./basic_components/button.scss";
@import "./basic_components/input.scss";
@import "./basic_components/image.scss";

// General components
@import "./general_components/general_components.scss";

// main component scss
@import "./navigation_bar_components/navigation_bar.scss";
@import "./error_components/error_message.scss";
@import "./home_components/home_component.scss";
@import "./authentication_components/authentication_components.scss";
