.product_page_container {
  @include flex(column, center);
}

.product_main_content_container {
  @include flexNew(column, flex-start, center);

  @include laptop {
    @include flexNew(row, flex-start, center);
  }
}

.product_review_main_container {
  margin-top: 15px;
  h2 {
    font-weight: lighter;
  }

  .bad {
    .rating_number {
      background-color: red;
    }
  }
  .average {
    .rating_number {
      background-color: #caac00;
    }
  }
  .good {
    .rating_number {
      background-color: #388e3c;
    }
  }

  .product_review_container {
    @include flex(column, center);
    margin-top: 5px;

    .error_message_main_container {
      margin-top: 5px;
    }

    .rating_number {
      padding: 5px;
      border-radius: 5px;
    }
  }
}

.reviews_container {
  margin-top: 8px;

  .review_container {
    @include flexNew(column, flex-start, center);
    @include border(4px);
    margin-bottom: 5px;
    padding: 5px;

    .review {
      font-size: 16px;
      margin-left: 5px;
      margin-top: 5px;
    }

    .review_info_container {
      @include flex(row, center);

      .name {
        margin-right: 10px;
        font-size: 20px;
      }
      .rating_number {
        padding: 3px;
        border-radius: 3px;
      }
      .bad {
        background-color: red;
      }
      .average {
        background-color: #caac00;
      }
      .good {
        background-color: #388e3c;
      }
    }
    h3 {
      font-weight: 400;
    }
  }
}

.product_details_container {
  margin-top: 10px;

  h3 {
    font-weight: 400;
    font-size: 21px;
  }

  .price_container {
    @include flex(row, flex-start);
    margin-top: 5px;

    .selling_price {
      margin-right: 10px;
    }
    .original_price {
      color: $disableTextColor;
      margin-right: 10px;
    }
    .discount_percentage {
      color: #388e3c;
    }
  }

  .description_container {
    margin-top: 15px;
    h2 {
      font-weight: lighter;
      font-size: 20px;
    }
    p {
      margin-top: 5px;
      margin-left: 10px;
    }
  }

  @include laptop {
    margin-left: 10px;
    flex: 2;
  }
}

.product_images_main_container {
  @include flex(column, center);

  .slidingProducts_container {
    @include border(3px);
    margin: 5px;
    padding: 5px;
    max-width: 300px;

    .productPageImg_container {
      align-self: center;
      position: relative;
      width: 65px;
      height: 65px;

      @include laptop {
        &:hover {
          cursor: pointer;
        }
      }

      &:active {
        transform: scale(1.05);
      }

      .normal_img_container {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
      }
    }
  }

  @include laptop {
    flex-direction: row-reverse;
    flex: 3;

    .posterImageContainer {
      flex-shrink: 1;
    }

    .slidingProducts_container {
      width: auto;
      height: auto;
    }

    .productCards_container {
      display: flex;
      width: auto;
      flex-direction: column;
      padding: 0;
      margin: 0;
      overflow: visible;
    }

    .left_arrow_container,
    .right_arrow_container {
      display: none;
    }
  }
}
