img {
  width: 100%;
  border-radius: 4px;
  vertical-align: middle;
}

.normal_img_container {
  @include flexNew(row, center, center);
  max-height: 300px;
  border-radius: 4px;
  overflow: hidden;
  flex-shrink: 0;
}

.editable_img_container {
  @include shadowContainer(0);
}
