input {
  &[type="text"],
  &[type="email"],
  &[type="password"],
  &[type="number"] {
    width: 100%;
    border: 2px solid $disableElementBorderColor;
    appearance: none;
    border-radius: 3px;
    padding: 12px;
    outline: none;
  }
}

.text_input_container {
  @include flex(row, center);
  width: 100%;
}

.custom_text_input_container {
  position: relative;
  font-size: 14px;
  padding-top: 6px;
  margin-top: 5px;
  width: 100%;
  @include flex(row, center);

  input {
    transition: border-color 0.3s ease;
    &:focus {
      border-color: $secondaryColor;
      transition-delay: 0.1s;
    }
  }

  .hasValue + .placeholder,
  input:focus + .placeholder {
    top: 6px;
    font-size: 12px;
    color: $normalTextColor;
  }

  .disable + .placeholder {
    background-color: $disableElementColor;
  }

  .placeholder {
    pointer-events: none;
    padding: 0 3px;
    background-color: white;
    position: absolute;
    left: 12px;
    top: calc(50% + 3px);
    transform: translateY(-50%);
    color: gray;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
  }
}

.editableTextInputContainer {
  @include shadowContainer(10px);
}

.image_choose_container {
  input[type="file"] {
    display: none;
  }
  .input_file_label_container {
    @include flex(row, flex-start);
    @include disable();

    img {
      width: 20px;
      height: 20px;
      margin-right: 6px;
    }
  }
  label {
    @include flex(row, center);
    font-size: 14px;
    width: 130px;
  }
}
