// Screen Width Breaks
$tablet_min_width: 481px;
$laptop_min_width: 769px;
$desktop_min_width: 1025px;

// Colors
// $primaryColor: rgb(76, 93, 149);
// $secondaryColor: rgb(204, 194, 55);
$primaryColor: #3e57a8;
$secondaryColor: #a8872d;

$onPointerDownColor: #ccaf5e;

$disableElementColor: lightgray;
$disableElementBorderColor: rgb(189, 189, 189);
$disableTextColor: rgb(158, 158, 158);

$containerBorderColor: #555;
$normalTextColor: #222;
