.slidingProducts_container {
  @include flex(row, center);

  .productCards_container {
    display: -webkit-inline-box;
    overflow-x: scroll;
    margin: 0 5px;
    padding: 10px 0;
  }
}

.productCard_vertical_container {
  @include flexNew(column, flex-start, flex-start);
  width: 170px;
  margin: 0 5px;
  padding: 5px;

  &:active {
    .productCard_img_container {
      transform: scale(1.05);
    }
  }

  @include laptop {
    &:hover {
      cursor: pointer;
    }
  }

  .productCard_img_container {
    align-self: center;
    position: relative;
    width: 150px;
    height: 150px;

    .normal_img_container {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin-bottom: 5px;
    }
  }

  h2 {
    color: $textColor;
    font-size: 18px;
    margin-bottom: 3px;
  }

  h4 {
    font-weight: lighter;
  }
}
